services:
  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:latest
    ports:
      - 13378:80
    volumes:
      - "{{ audiobooks_mount_path | default('/mnt/storage/audiobooks') }}:/audiobooks"
      - "{{ project_path }}/services/audiobookshelf/config:/config"
      - "{{ project_path }}/services/audiobookshelf/metadata:/metadata"
    environment:
      - TZ={{ timezone | default('America/New_York') }}
      - PUID=1000
      - PGID=1000
    restart: unless-stopped
    networks:
      - homelab
