WG_HOST={{ wireguard_host | default('') }}
WG_PRIVATE_KEY={{ wireguard_private_key | default('') }}
WG_DEVICE={{ wireguard_device | default('eth0') }}
PASSWORD_HASH='{{ wireguard_password_hash | default('') }}'
