services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:latest
    container_name: wg-easy
    network_mode: host
    env_file: .env.wireguard
    environment:
      - WG_HOST=vpn.ghepting.com
      - WG_DEFAULT_ADDRESS=10.13.13.x
      - WG_DEFAULT_DNS=10.13.13.1
      - WG_ALLOWED_IPS=10.13.13.0/24, 192.168.86.0/24
      - WG_PRE_UP=ip route replace 192.168.86.0/24 dev enp6s0 src 192.168.86.10
      - WG_POST_UP=iptables -t nat -A POSTROUTING -o enp6s0 -j MASQUERADE
      - WG_POST_DOWN=iptables -t nat -D POSTROUTING -o enp6s0 -j MASQUERADE
      - PORT=51821
      - WG_PORT=51820
    volumes:
      - /opt/homelab/services/wireguard/wg-easy/data:/etc/wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    restart: unless-stopped
