- name: core | Install core utilities (macOS)
  when: ansible_facts['os_family'] == 'Darwin'
  community.general.homebrew:
    name:
      - vim
      - zsh
      - tmux
      - git
      - curl
      - reattach-to-user-namespace
      - the_silver_searcher
      - universal-ctags
      - direnv
    state: present
    update_homebrew: true

- name: core | Install core utilities (Debian/Ubuntu)
  when: ansible_facts['pkg_mgr'] == 'apt'
  become: true
  ansible.builtin.apt:
    name:
      - vim-gtk3
      - zsh
      - tmux
      - git
      - curl
      - silversearcher-ag
      - universal-ctags
      - direnv
    state: present
    update_cache: true

- name: core | Install core utilities (Fedora)
  when: ansible_facts['pkg_mgr'] == 'dnf'
  become: true
  ansible.builtin.dnf:
    name:
      - vim-enhanced
      - zsh
      - tmux
      - git
      - curl
      - the_silver_searcher
      - ctags
      - direnv
    state: present

- name: core | Install core utilities (Arch)
  when: ansible_facts['pkg_mgr'] == 'pacman'
  become: true
  community.general.pacman:
    name:
      - vim
      - zsh
      - tmux
      - git
      - curl
      - the_silver_searcher
      - ctags
      - direnv
    state: present
    update_cache: true

- name: core | Set ZSH as default shell
  ansible.builtin.user:
    name: "{{ admin_username }}"
    shell: /bin/zsh
  become: true
  tags: [common, core, shell]
