- name: Restart WireGuard
  ansible.builtin.service:
    name: wg-quick@wg0
    state: restarted
    enabled: true
  when: ansible_service_mgr == 'systemd'
  become: true

- name: Restart WireGuard
  ansible.builtin.shell: |
    wg-quick down wg0 || true
    wg-quick up wg0
  when: ansible_os_family == 'Darwin'
  become: true
  changed_when: true
