services:
  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:latest
    ports:
      - 13378:80
    volumes:
      - "/mnt/ninja-plex/media_e/Audio Books:/audiobooks"
      - /opt/homelab/services/audiobookshelf/config:/config
      - /opt/homelab/services/audiobookshelf/metadata:/metadata
    environment:
      - TZ=America/Indiana/Indianapolis
      - PUID=1000
      - PGID=1000
    restart: unless-stopped
    networks:
      - homelab
