services:
  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:latest
    ports:
      - 13378:80
    volumes:
      - /mnt/storage/audiobooks:/audiobooks
      - /opt/homelab/services/audiobookshelf/config:/config
      - /opt/homelab/services/audiobookshelf/metadata:/metadata
    environment:
      - TZ=America/New_York
      - PUID=1000
      - PGID=1000
    restart: unless-stopped
    networks:
      - homelab
