name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    env:
      ANSIBLE_VAULT_PASSWORD_FILE: ~/.ansible_vault_pass
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "requirements-dev.txt"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          ansible-galaxy collection install -r requirements.yml -p ~/.ansible/collections

      - name: Create dummy vault password file
        run: echo "dummy" > ~/.ansible_vault_pass

      - name: Mock vault secrets file
        run: |
          mkdir -p inventory/group_vars/all
          echo "dummy_variable: dummy_value" > inventory/group_vars/all/secrets.yml

      - name: Run ansible-lint
        run: ansible-lint

  molecule:
    name: Molecule Testing
    runs-on: ubuntu-latest
    needs: lint
    env:
      ANSIBLE_VAULT_PASSWORD_FILE: ~/.ansible_vault_pass
    strategy:
      matrix:
        role: [common]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "requirements-dev.txt"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          ansible-galaxy collection install -r requirements.yml -p ~/.ansible/collections

      - name: Create dummy vault password file
        run: echo "dummy" > ~/.ansible_vault_pass

      - name: Mock vault secrets file
        run: |
          mkdir -p inventory/group_vars/all
          echo "dummy_variable: dummy_value" > inventory/group_vars/all/secrets.yml

      - name: Standardize roles path for Molecule
        run: |
          mkdir -p ~/.ansible/roles
          ln -s ${{ github.workspace }}/roles/* ~/.ansible/roles/

      - name: Run Molecule test
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
        run: |
          cd roles/${{ matrix.role }}
          molecule test
